# build directory
RPMS/x86_64
RPMS/noarch
SOURCES/
BUILD/
SPECS/
disk?/
*.iso

_os
_arch
_distribution
.rpmmacros
python.mk

# ignore version, rules  files
Rules-*.mk
Rules.mk
Rolls.mk
roll-*.*
rocks-*.mk

# ignore src files
src/*/*.tar.gz
src/*/*.tgz

# ignore created files
version.mk
nodes/intel-server.xml
